<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeReimbursement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

        
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1050">
      <% flash.each do |key, message| %>
        <% if key == :toast %>
          <%= render 'shared/toast', notice: message %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
